:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: hsl(212, 45%, 89%);
  --clr-grayblue: hsl(220, 15%, 55%);
  --clr-darkblue: hsl(218, 44%, 22%);


  --fw-l: 700;
  --fw-s: 400;
}

@font-face {
  font-family: 'Outfit-Regular';
  src: 'fonts/Outfit-Regular.ttf';
  font-display: swap;
}
@font-face {
  font-family: 'Outfit-Bold';
  src: 'fonts/Outfit-Bold.ttf';
  font-display: swap;
}

html {
  /* font-family: 'Outfit-Regular', sans-serif; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  background-color: var(--clr-gray);
}

img {
  display: block;
  width: 100%;
  
  border-radius: 15px;
}

p {
  font-size: 15px;
  margin-block: 1.8em;
  margin-inline: .4em;

}



.container {
  max-width: 320px; /* size of card but also responsive*/
  padding: 1rem;
  border-radius: 30px;
  margin-block: 1.3rem;
  background-color: var(--clr-white);
  

}

.text__container {
  text-align: center;
}

.text__item-one {
  font-family: 'Outfit-Bold', sans-serif; 
  font-size: 1.3rem;
  color: var(--clr-darkblue);
  font-weight: var(--fw-l);
}

.text__item-two {
  font-size: 1rem;
  font-family: 'Outfit-Regular', sans-serif; 
  color: var(--clr-grayblue);
  font-weight: var(--fw-s);
}

.attribution {
  
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}